{% extends 'beeApp/base.html' %}

{% load static %}


{% block content %}

    <div class="rules-container">
        <div class="rule-heading">
            <h3>COMPETITION RULES</h3>
        </div>
            <p>The Nigeria Spelling Bee is open to all students in both public and private schools in Nigeria. 
                All spellers will be asked to spell individually irrespective of the number of spellers from the same school. 
                Please study these rules and act accordingly for training and practice purposes.
            </p>
        
            

            SPELLER CATEGORIES
            The Nigeria Spelling Bee is divided into two distinct categories. The Senior and the Junior. These categories are AGE-BASED and not based on whether the student is in Primary or Secondary school.

            SENIOR CATEGORY
            Senior spellers must not be more than 16years (under 17yrs) as of November 2023 (Please do the necessary calculations).
            Senior spellers must not have passed SS2 or be writing their UTME, WAEC or Senior NECO in the 2022/20023 Academic Session.
            The advised minimum age for the Senior category is 13years (this is not a restriction on younger outstanding spellers).
            All National Finalists get an opportunity to represent Nigeria at the African Spelling Bee 2023. In addition to winning the African Spelling Bee prizes, a Nigerian Speller who emerges African Champion will also win an additional N1,000,000 & N500,000 scholarship for the Senior & Junior categories respectively.
            JUNIOR CATEGORY
            Junior spellers must not be more than 13years (under 14yrs) as of November 2023 (Please do the necessary calculations).
            The advised minimum age for the Junior category is 9 years (this is not a restriction on younger outstanding spellers).
            All National Finalists get an opportunity to represent Nigeria at the African Spelling Bee 2023. In addition to winning the African Spelling Bee prizes, a Nigerian Speller who emerges African Champion will also win an additional N1,000,000 & N500,000 scholarship for the Senior & Junior categories respectively.
            ELIGIBILITY REQUIREMENTS
            Must attend a  Primary or Secondary School in Nigeria.
            Spellers may register under their schools or privately but must supply their school details.
            Spellers must not have passed SS2 or be writing their UTME, WAEC or Senior NECO in the 2022/2023 Academic Session.
            The organizers of the Nigeria Spelling Bee may disqualify, prior to, during, or after the competition, any speller who is not in compliance with any of the Eligibility Requirements, rules of the competition or have supplied false information.
            REGISTRATION
            Registration is online on our e-portal upon the payment of N3,000 (Three Thousand Naira) only per speller.
            Schools registering a group of more than 10 spellers should see the FAQ for school discount of 1 free speller per 10 registered spellers.
            All payments should be made to our official bank accounts as displayed on our website. No payment should be made directly to any person claiming to act on behalf of Nigeria Spelling Bee.
            All spellers will be given a unique SPELLER ID on the “Confirmation Page” after submitting the form.
            All Spellers are advised to keep their Proof of Payments and come with same to the competition venue.
            Upon registration, Spellers will be regularly informed about competition dates, time and venue in their state via their phone numbers and email. (Please note that it is the responsibility of the speller/coach to regularly check their emails and our website for updates. Also, deactivate “Do-Not-Disturb” service to ensure delivery of our SMS)
            STAGES OF THE COMPETITION
            Spellers shall start competing from the State Qualifier in their respective states of schooling. (Note that two or more states may be merged due to low registrations –below 100per state)
            At each State Level Competition, the Best Speller in the Junior and Senior categories will progress to represent the state at the National Finals.
            States with larger participation (500+ spellers) will also have the 1st Runner-up represent the state at National Finals.
            The Best Speller in each category will be presented with a Trophy and medal.
            The Runners-up in each category will be presented with medals.
            (From the 2022 Season, there shall be no Regional Level competitions. This is to minimize the risks associated with inter-state travels by our spellers.)

            CONTEST ROUNDS
            The qualifiers will have 2 distinct rounds of competition.

            Round 1 (Written Spelling Bee)

            The first round of all State acontests will be a  written Spelling Bee as spellers will be required to write down the correct spelling of words in a card provided for them.

            Basic rules of the written round include instructions not to Cancel, Change, Shine or Re-write any letter.

            This implies that spellers should not attempt to correct any error on their papers nor shine any letter to make it bold as that will be considered an alteration of the letter. (Coaches are expected to make this clear to spellers).

            Round 2 and Above

            Round 2 and all subsequent rounds will be elimination rounds using English words only.

            For the English words, Spellers are advised to download and study the Study Guide for this season after a successful registration. This will serve as a base guide for spellers to study for the competition.

            Please note that the Study Guide is Not a wordlist.

            Finalists will be given additional study materials that will be used at the National Finals.

            Spellers are also advised to read and study broadly for the competition.

            

            SPELLER RULES (Oral Round)
            <p>Spellers are required to be very audible and clear on their spelling.
            Spellers are required to pronounce the word after they have spelt it to indicate that they are through with the spelling. (A speller may be disqualified for not pronouncing the words after spelling within the timeframe).
            A Speller has 60 seconds after saying the first letter of the word, to spell his/her word and pronounce the word.</p>
            <ul> 
                <p>is the right and responsibility of the speller to request the following:</p>
                <li>Re-pronunciation</li>
                <li>Definition,</li>
                <li>the origin of the word,</li>
                <li>sentence example,</li>        
                <li>part of speech,</li>
            tense</ul>
            alternate pronunciation if alternative pronunciations are available, and within the allowed parameters of the rules
            homonyms: if a word has one or more homonyms, the Pronouncer indicates which word is to be spelt by defining the word
            Spellers are advised to make use of these rights and responsibilities and not rely only on pronunciations.
            A speller can NOT change the order of the letters in a word after pronouncing the letters during spelling.
            Officials may disqualify any contestant who ignores a request to spell his/her word after a reasonable length of time.
            ADJUDICATION CRITERIA
            The Spelling Bee will be conducted primarily in English.
            The multi-lingual section of the competition will be conducted using the words on the multi-lingual word list with English translations. It will NOT be used at the State Levels.
            In the event of any complaint, suggestion or need for clarification, such should be directed to the adjudicator.
            Complaints concerning the spelling of a word must be brought up before the end of the current round.
            Both American and British spelling of words will be allowed and the “Shorter Oxford English Dictionary (SOED, Sixth edition)” will be used in the competition as the final authority for all pronunciations and spellings. For more details and access to the dictionary, please click HERE.
            OFFICIATING PANEL
            The Officiating Panel will officiate the Spelling Bee and consist of the following members:

            Primary Pronouncer
            Adjudicator
            Program Director
            Primary Pronouncer

            Will pronounce will play the pronunciation provided in the computerized audio of the official dictionary.
            Assist the spellers by also pronouncing the words that each speller will spell;
            gives the alternate pronunciation (if alternative pronunciations are available, and within the allowed parameters of the rules). This is based on the speller request;
            advises on the following on request: the language of origin of the word, definition, sentence example, part of speech, tenses;
            homonyms: if a word has one or more homonyms, the Pronouncer indicates which word is to be spelt by defining the word.
            Adjudicator

            The adjudicator will sit apart from the Pronouncer
            The adjudicator will rule immediately on any disputes raised either by a Participant or an audience member
            The adjudicator will ensure the smooth running of the competition
            assist the Primary Pronouncer by listening to the spelling of the word and determines if it is spelt correctly
            upholds the rules in determining whether or not words are spelt correctly
            works from a Name List that contains the names of all Spellers in the competition
            crosses off the names of all Spellers who are eliminated and submits their numbers
            ensures that Spellers stick to the allocated time (60 seconds) from the time they begin to spell the word
            Programme Director

            Manages the proceedings according to the programme
            opens the event
            Introduces the Adjudication Panel and explains the rules to the audience
            Acknowledges the spellers participating
            instructs the audience not to applaud after each contestant has spelt, but only at the end of each Round
            announces the beginning and end of each Round
            hands over proceedings to the Pronouncer
            Thank you for studying the rules. If you are eligible and want to register, CLICK HERE
    </div>

{% endblock %}