{% extends 'beeApp/base.html' %}

{% load static %}


{% block content %}

    <div class="rules-container">
        <div class="rule-heading">
            <h3>COMPETITION RULES</h3>
        </div>
            <p>
                Congratulations to all the contestants! What a special event you are participating in! With determination, this will be a positive, memorable experience for all of you! 
                The following will give you an idea of what to expect during the Bee. If you have other questions, feel free to email our Spelling Bee coordinator, Baiyegunhi Jerome Oluwadamilola on biblespellingbee@gmail.com.

                <span>
                    Recently, research has shown that poor spellers are unsuccessful people. For example, misspelled applications mean lost opportunities for getting employment. A great writer but a poor speller will not be able to complete a book. Parents must teach their children the habit of spellings from an early age. Accurate spelling and pronunciation of a word is the first step to Christian and academic success in a child’s life. The Bible gives an important example of why mispronunciation of a word could be a life and death situation. 
                    ‘After the battle, the surviving Ephraimites were escaping and came to stop by soldiers of Gilead. The Ephraimites said, let us go over river Jordan to other side, then men of Gilead said unto him, Art thou an Ephraimite? If he said nay, then said they unto him, say now “SHIBBOLETH” and he said “SIBBOLETH” FOR HE DID NOT PRONOUNCE IT RIGHT. They took him and slew him.’ Judges 12:5-6. 
                    While no one will ever lose their life by mispronouncing a word from the Bible, it’s good to know why we need to take God’s Word – whether spoken aloud or read quietly to the self – so very seriously. 
                    Please, remember that the sole aim of the bee is to further endear us to studying the Bible according to the injunction in 2 Tim 2:15. “Study to shew thyself approved unto God, a workman that neededth not to be ashamed, rightly dividing the word of truth”. 
                </span>

                <h3>SPELLING BEE RULES</h3>
                <ul>
                    <li>When you hear your spelling word, you must</li>
                    <li>Repeat the word and spell it within 30 seconds</li>
                    <li>Speak into the microphone and look at the pronouncer</li>
                    <li>Repeat the word and spell it within 30 seconds</li>
                    <li>Repeat the word and spell it within 30 seconds</li>
                </ul>

                If you have any questions, or if you know an adult who would like to volunteer for the spelling bee in Season 2, please contact biblespellingbee@gmail.com
                Thank you!
            </p>
        
            

            <h4>SPELLER CATEGORIES</h4>
            The Bible Spelling Bee Competition is for all categories of contestants that can read the Bible.

            <h4>SPELLERS ELIGIBILITY REQUIREMENTS</h4>
                <ul>
                    <li>Spellers must be a Christian not be more than 25years as of August 2024.</li>
                    <li>The minimum age for the Spellers is 7years (this is not a restriction on younger outstanding spellers).</li>
                    <li>Senior spellers must not be more than 25years as of August 2024.</li>
                    <li>Senior spellers must not be more than 25years as of August 2024.</li>
                    <li>Senior spellers must not be more than 25years as of August 2024.</li>
                </ul>
            
            
           Speller who emerges Season 3 Champion will get a mouthwatering prize.
          
           Registration is online on our e-portal.
            All spellers will be given a unique SPELLER ID on the “Confirmation Page” after submitting the form.
            Upon registration, Spellers will be regularly informed about competition dates, time and venue via their phone numbers and email. 
            (Please note that it is the responsibility of the speller/coach to regularly check their emails and our website for updates. Also, deactivate “Do-Not-Disturb” service to ensure delivery of our SMS)
            
            <b>STAGES OF THE COMPETITION</b>
                The Best Speller in each category will be presented with a Trophy and medal.
                The Runners-up in each category will be presented with Gifts as well.
                
            <b>CONTEST ROUNDS</b>
            The qualifiers will have 2 distinct rounds of competition.

            Round 1 (Written Spelling Bee)

            The first round will be a  written Spelling Bee as spellers will be required to write down the correct spelling of words in a card provided for them.

            Basic rules of the written round include instructions not to Cancel, Change, Shine or Re-write any letter.

            This implies that spellers should not attempt to correct any error on their papers nor shine any letter to make it bold as that will be considered an alteration of the letter. (Judges are expected to make this clear to spellers).

            <b>Round 2 and Above</b>

            Round 2 and all subsequent rounds will be elimination rounds using Bible words only.

            For the Bible words, Spellers are advised to study the book of Genesis, Exodus and Deuteronomy as Guide for this season after a successful registration. This will serve as a base guide for spellers to study for the competition.

            Please note that the Study Guide is Not a wordlist.

            Spellers are also advised to read and study broadly for the competition.

            
            <b>SPELLER RULES (Oral Round)</b>
                Spellers are required to be very audible and clear on their spelling.
                Spellers are required to pronounce the word after they have spelt it to indicate that they are through with the spelling. (A speller may be disqualified for not pronouncing the words after spelling within the timeframe).
                A Speller has 60 seconds after saying the first letter of the word, to spell his/her word and pronounce the word.</p>
            
            <b>It is the right and responsibility of the speller to request the following:</b>
            <ul> 
                <li>Re-pronunciation</li>
                <li>Passage of the Bible where the word is found</li>
                <li>the origin of the word</li>
                <li>sentence example (if possible) </li>        
            </ul><br>
           <b>Please note:</b>
            <ul>
                <li>A speller can NOT change the order of the letters in a word after pronouncing the letters during spelling.</li>
                <li> Officials may disqualify any contestant who ignores a request to spell his/her word after a reasonable length of time.</li>
            </ul>
           
            <b>ADJUDICATION CRITERIA</b>
            The Spelling Bee will be conducted primarily in English.
            The multi-lingual section of the competition will be conducted using the words on the multi-lingual word list with English translations. It will NOT be used at the State Levels.
            In the event of any complaint, suggestion or need for clarification, such should be directed to the adjudicator.
            Complaints concerning the spelling of a word must be brought up before the end of the current round.
            
            <br>
            <b>OFFICIATING PANEL</b>
            The Officiating Panel will officiate the Spelling Bee and consist of the following members:
                <ul>
                    <li>Primary Pronouncer</li>
                    <li>Adjudicator</li>
                    <li> Program Director</li>
                </ul>

            <b>The Primary Pronouncer</b>
                <span>Will pronounce will play the pronunciation provided in the computerized audio of the official dictionary.
                Assist the spellers by also pronouncing the words that each speller will spell;
                gives the alternate pronunciation (if alternative pronunciations are available, and within the allowed parameters of the rules). This is based on the speller request;
                advises on the following on request: the language of origin of the word, definition, sentence example, part of speech, tenses;
                homonyms: if a word has one or more homonyms, the Pronouncer indicates which word is to be spelt by defining the word.</span>
            
            <b>Adjudicator</b>    

                <span>
                    <ul>
                        <li>The adjudicator will sit apart from the Pronouncer</li>
                        <li>The adjudicator will rule immediately on any disputes raised either by a Participant or an audience member.</li>
                        <li>The adjudicator will ensure the smooth running of the competition.</li>
                        <li>Assist the Primary Pronouncer by listening to the spelling of the word and determines if it is spelt correctly</li>
                        <li>Upholds the rules in determining whether or not words are spelt correctly</li>
                        <li>Works from a Name List that contains the names of all Spellers in the competition</li>
                        <li>Crosses off the names of all Spellers who are eliminated and submits their numbers</li>
                        <li>Ensures that Spellers stick to the allocated time (60 seconds) from the time they begin to spell the word</li>
                    </ul>            
                </span>
            

                <b>Programme Director</b>
                <span>
                    <ul>
                        <li>Manages the proceedings according to the programme</li>
                        <li>Opens the event.</li>
                        <li>Introduces the Adjudication Panel and explains the rules to the audience.</li>
                        <li>Acknowledges the spellers participating</li>
                        <li>Instructs the audience not to applaud after each contestant has spelt, but only at the end of each Round</li>
                        <li>Announces the beginning and end of each Round</li>
                        <li>Hands over proceedings to the Pronouncer</li>
                        <li>Ensures that Spellers stick to the allocated time (60 seconds) from the time they begin to spell the word</li>
                    </ul>            
                </span>
            
             <div class="text-center">
                <p> Thank you for studying the rules. If you are eligible and want to register &nbsp; <a href="{% url 'register' %}"> CLICK HERE </a> </p> 
            </div>
    </div>

{% endblock %}